*.pyc
python/old
python/*.pyc
python/mazegame.py
python/neuralnets
python/neuralnets
python/neuralnets
*.docx
python/random
python/sensorread.py
*.pdf
*.xlsx
*.jpg
GreenGiant/
Invoices/
eagle/*.brd
eagle/*.lck
*.ioc
eagle/*.b##
eagle/*.s##
eagle/fab